  $blue-100: #3a36e0;
  $blue-200: #0804b8;
  $blue-300: #030086;
  $blue-400: #5f25a4;
  $blue-500: #050449;

  

  $green-100: #529e66;
  $green-200: #367b48;
  $green-300: #276738; 
  
 /* export const yellow = {
    100: #e1c542;
    200: #cab23f;
    300: #b49e35
  };
  
  export const red = {
    100: #d0454c;
    200: #b54248;
    300: #95353a
  };
  */
  
    $neutral-100: #ffffff;
    $neutral-200: #f4f5f7;
    $neutral-300: #e1e1e1;
    $neutral-400: #737581;
    $neutral-500: #4a4b53;
    $neutral-600: #000000;
  